@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --ct-color-bg-primary: #fff;
  --ct-color-bg-secondary:#3C9AF0;
  --ct-color-bg-tertiary: #C8C8C8;
  
  --ct-color-font-primary: #fff;
  --ct-color-font-secondary:#5E5E5E;
  --ct-color-font-tertiary:#3C9AF0;

  --ct-color-border:#3C9AF0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--ct-color-bg-primary);
}